<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680223908258-7ejfrr869b35du309mr51lqpfhv6k83h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680223908258-7ejfrr869b35du309mr51lqpfhv6k83h</string>
	<key>API_KEY</key>
	<string>AIzaSyABjesfoEJxeWtCfLtq9Cn1_O05LRDc1IY</string>
	<key>GCM_SENDER_ID</key>
	<string>680223908258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tuba.MovieCaseStudy</string>
	<key>PROJECT_ID</key>
	<string>movie-129d3</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-129d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680223908258:ios:97825010608c4f69ea92fb</string>
</dict>
</plist>